$fonts: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;

$brand: #0273d4;
$brand-light: #63a8e2;
$brand-com: #e91e63;
$brand-com-light: #dd4f80;
$light-grey: #f6f6f6;
$dark-grey: #545555;
$white: #fff;

$color-placeholder: #EEE;
$btn-material-size: 60px;
