@charset "utf-8";

@import 'variables';
@import 'core';
.page-contents {
  margin-top: 1.5em;
  padding: 2em;
  max-width: 1200px;
}

.sidemenu-header {
  align-items: center;
  background: $brand;
  box-shadow: 0 0.15em 2.5em rgba($dark-grey, 0.5);
  color: $white;
  display: flex;
  margin-bottom: .5em;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.sidemenu-header-toggle {
  background: transparent;
  border: 0.15rem solid $white;
  border-left: 0;
  border-right: 0;
  font-size: 0;
  height: 1.5rem;
  margin-right: 1rem;
  position: relative;
  width: 2rem;

  &::after {
    background: $white;
    content: '';
    height: 0.15rem;
    left: 0;
    margin-top: -0.075rem;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

.sidemenu-header-toggle:hover {
  cursor: pointer;
}

.sidemenu-sidebar {
  min-width: 8em;
  text-align: left;
  color: #edf3ff;  
  background-color: $brand !important;
  box-shadow: 5px 0px 15px #3d5b8c;
  div {  
    padding: .8em .5em;
    border-bottom: 1px solid $brand-light;
  }
  div:hover {
    cursor: pointer;
    background-color: $brand-light;
  }
  .route-active {
    background-color: $brand-light;
  }
  p, a {
    margin: 0em 0.65em 0em 0.65em;
    color: #ffffff;
  }
  
  header {
    padding: 1em .5em 1em .5em;
    background-color: #576172;
    img {
      width:50px;
      height:auto;
      border-radius:50%;
      overflow:hidden;
    }
  }
}

.sidemenu-control {
  background-color: $light-grey;
  border: 1px solid $dark-grey;
  cursor: pointer;
  padding: 0.5em 2em;
  transition: background-color 0.15s;

  &:hover {
    background-color: $dark-grey;
    color: $white;
  }
}